---
layout: nil
---

/* Version date 2013.09.13 */
/* NEW LAYOUT - black and white and blue themed */

/*  MAIN RESET  --------------------------------------------------------------*/

html,body,h1,h2,h3,form,fieldset,nav ul,nav li {
	background:transparent;
  border:0px;
  list-style-type:none;
	margin:0px;
	padding:0px;
	vertical-align:baseline;
  word-wrap:normal;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,nav,section {
  display:block;
}
img {
  display:inline; /* FIREFOX/NETSCAPE FIX */
}

/*  TOP LEVEL  ---------------------------------------------------------------*/

html {
  background-color:black;
  background-image:url("{{ site.assets }}/background.moulin.png");
}
html:hover #home a{
  border-bottom:1px solid #94d6e8;
}
body {
  font:13px "Helvetica Neue","Helvetica","Liberation Sans",sans-serif;
  padding:0px 40px;
  width:460px;
}
a {
  color:#888;
  text-decoration:none;
}
a:hover, a:active {
  color:#94d6e8;
  text-decoration:none;
}
span {
  letter-spacing:4px;
  text-transform:lowercase;
  word-wrap:break-word;
}
span:hover {
  color:#94d6e8; 
}
strong {
  color:#d3d3d3;
}
hr {
  background-color: #c1c1c1;
  border: none;
  height: 1px;
  margin: 0px 0px 10px 0px;
}
h2 {
  padding-top:225px;
}
h1,h2,h3,h4 {
  letter-spacing:2px;
  text-transform:uppercase;
  color:#d3d3d3;
}
img {
  max-width:150px;
  height:auto;
  border-radius:5px;
}
.photograph {
  float:right;
  font-size:10px;
  padding:5px;
}
.photograph p {
  padding:0px;
  margin:0px;
}
#hack a {
  text-transform:uppercase;
  color:#fff;
  letter-spacing:2px;
}
#hack a:hover {
  color:#94d6e8;
}

/*  TOP  ---------------------------------------------------------------------*/

header {
  border:none;
  border:none;
  text-align:left;
}
#socialbar {
  background-color:#fff;
  background-color: rgba(255,255,255,0.5);
  font-size:11px;
  letter-spacing:2px;
  line-height:32px;
  height:32px;
  padding:0px;
  text-align:center;
}
header nav li, #socialbar li {
  display:inline;
  text-align:left;
}
header nav li:after, #socialbar li:after {
  content:'';
}
header nav ul a, #socialbar ul a {
  text-transform:uppercase;
/*  border-bottom:1px solid #94d6e8;*/
  color:#000;
}
header nav li a, #socialbar li a {
  display:inline-block;
  line-height:32px;
  width:75px;
  text-align:center;
}
header nav li a:hover, #socialbar li a:hover {
  background:#fff;
  background-color: rgba(255,255,255,1);
  padding:0px -20px 0px 0px;
}

h1 { visibility:hidden; height:0px; }

/*  HOME SECTION  ------------------------------------------------------------*/

section {
  margin:0px;
}
#home {
  text-transform:uppercase;
  font-size:20px;
  line-height:24px;
  width:450px;
}

/*  ARTICLES/PAGES  ----------------------------------------------------------*/

article, section {
  padding-top:15px;
  color:#888;
}
article a {
  text-decoration:none;
  color:#888;
}
article a:hover, article a:active {
  color:#94d6e8;
  text-decoration:none;
}
.article-meta {
  margin-top:15px;
}
footer, .article-meta, #pagination, #pages {
  font-size:11px;
  color:#000;
  letter-spacing:2px;
}
.hometitle {
  text-align:left;
  font-size:60px;
  letter-spacing:8px;
}
.hometitle:hover {
  color:#fff;
}

/* Homepage */
#socialbar {
  background-color:#d3d3d3;
}
#socialbar:hover {
  background-color:#d3d3d3;
  color:#000;
  transition: opacity .4s ease-in-out;
  -moz-transition: opacity .4s ease-in-out;
  -webkit-transition: opacity .4s ease-in-out;
}
#socialbar ul a {
  border:none;
  color:#000;
}
#socialbar li a {
  border:none;
  text-transform:uppercase;
  color:#000;
}
#socialbar li a:hover {
  color:#888;
}


.fade {
   opacity: 0.7;
   color:#fff;
   transition: opacity .4s ease-in-out;
   -moz-transition: opacity .4s ease-in-out;
   -webkit-transition: opacity .4s ease-in-out;
  }
   .fade:hover {
      opacity: 1;
    }

/*  FOOTER  ------------------------------------------------------------------*/

footer {
  font-size:10px;
  color:#888;
  text-align:left;
}
footer a {
  color:#888;
}
footer a:hover, footer a:active {
  color:#94d6e8;
}

/* OTHER  --------------------------------------------------------------------*/

@media screen and (max-width: 500px) {
  html {
    padding:0px;
  }
  body{
    font-size:80%;
    width:95%;
    padding:0px 10px;
  }
  header {
  }
  #socialbar {
    line-height:100%;
    height:160px;
    padding:0px;
    font-size:110%;
  }
  header nav li a, #socialbar li a {
    display:inline-block;
    width:90%;
  }
  
  hr {
      width:100%;
  }
  #home {
    font-size:18px;
    width:90%;
  }
}

/*  EOF  **********************************************************************/