---
layout: post
title: Past Works
category: works
tags:
- past
---

<div class="photograph" style="padding-top:10px;">
	<img src="https://farm6.staticflickr.com/5350/8986051759_3386f22c7e_b.jpg" alt="Coffee Beans" />
	<p class="credit">Photo &copy; Clara Tse 2013</p>
</div>

<p><strong>Artist Tools:</strong> Graphics tablet (Intuos 4); mechanical pencil; 2B 0.5mm lead; eraser; Photoshop CS5; Paint Tool SAI; FireAlpaca; GIMP; Bluefish;</p>
	<h3 class="sideimage-shorten">University of Technology, Sydney</h3>
	<h4>Systems Development Project</h4>
		Logo created to represent the developed system, Orion, based on the Orion star system.
		<ul>
			<li><a href="{{ site.assets }}/Orion_Logo.pdf" alt="Orion Logo">Orion Logo</a></li>
		</ul>
	<h4>Digital Multimedia</h4>
	Multimedia project spanning an entire semester.
		<ul>
			<li><a href="{{ site.assets }}/Denko_Logo.png" alt="Denko Logo">Denko Logo</a></li>
			<li><a href="http://www.utsdenko.net" alt="Denko Website"> Denko Website</a></li>
		</ul>
	<h4>Marketing Foundations</h4>
	Logo created to represent the product the group is marketing.
		<ul>
			<li><a href="{{ site.assets }}/OWA_Logo.png" alt="Open World Audio Logo">Open World Audio Logo</a></li>
		</ul>
	<h3>Anime@UTS</h3>
		Artwork and Design completed during role of Art Director for <a href="http://www.utsanime.net" alt="http://www.utsanime.net">Anime@UTS</a> in 2011.
		<ul>
			<li>Membership Card: <a href="{{ site.assets }}/memcard_front.png" alt="Membership Card Front" title="Membership Card Front">Front</a>, <a href="{{ site.assets }}/memcard_back.png" alt="Membership Card Back" title="Membership Card Back">Back</a></li>
			<li><a href="{{ site.assets }}/Original_CMYK.png" alt="Anime Poster A" title="Anime Poster A">Poster A</a></li>
			<li><a href="{{ site.assets }}/PosterCustom_CMYK.png" alt="Anime Poster B" title="Anime Poster B">Poster B</a></li>
		</ul>
	<h3>Anime@UTS Badge Designs</h3>
		<ul id="designs">
			<li><a href="{{ site.assets }}/badge_bird.png" alt="bird" title="bird">bird</li>
			<li><a href="{{ site.assets }}/badge_hyouka.png" alt="hyouka" title="hyouka">hyouka</li>
			<li><a href="{{ site.assets }}/badge_snowbunny.png" alt="snowbunny" title="snowbunny">snowbunny</li>
			<li><a href="{{ site.assets }}/badge_inori.png" alt="inori" title="inori">inori</li>
			<li><a href="{{ site.assets }}/badge_kirakira.png" alt="kirakira" title="kirakira">kirakira</li>
			<li><a href="{{ site.assets }}/badge_mawaru.png" alt="mawaru" title="mawaru">mawaru</li>
			<li><a href="{{ site.assets }}/badge_muku.png" alt="muku" title="muku">muku</li>
			<li><a href="{{ site.assets }}/badge_sankarea.png" alt="sankarea" title="sankarea">sankarea</li>
			<li><a href="{{ site.assets }}/badge_panda.png" alt="pandakun" title="pandakun">pandakun</li>
			<li><a href="{{ site.assets }}/badge_penginsan.png" alt="penginsan" title="penginsan">penginsan</li>
			<li><a href="{{ site.assets }}/badge_shirokuma.png" alt="shirokumakun" title="shirokumakun">shirokumakun</li>
			<li><a href="{{ site.assets }}/badge_nyankonormal.png" alt="nyanko normal" title="nyanko normal">nyankosensei normal</li>
			<li><a href="{{ site.assets }}/badge_nyankoangry.png" alt="nyanko angry" title="nyanko angry">nyankosensei angry</li>
			<li><a href="{{ site.assets }}/badge_nyankoblack.png" alt="nyanko black" title="nyanko black">nyankosensei black</li>
			<li><a href="{{ site.assets }}/badge_nyankoevil.png" alt="nyanko evil" title="nyanko evil">nyankosensei evil</li>
			<li><a href="{{ site.assets }}/badge_nyankoshock.png" alt="nyanko shock" title="nyanko shock">nyankosensei shock</li>
			<li><a href="{{ site.assets }}/badge_nyankomegashock.png" alt="nyanko mega shock" title="nyanko mega shock">nyankosensei mega shock</li>
			<li><a href="{{ site.assets }}/badge_nyankosweat.png" alt="nyanko sweatdrop" title="nyanko sweatdrop">nyankosensei sweatdrop</li>
			<li><a href="{{ site.assets }}/badge_rikko.png" alt="rikko" title="rikko">rikko</a></li>
		</ul>