<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" 
  lang="{{ site.language }}" xml:lang="{{ site.language }}"
  vocab="http://purl.org/dc/elements/1.1/">

<!--  _  Welcome to ... _                                 
  ___| | __ _ _ __ __ _| |_ ___  ___   ___ ___  _ __ ___  
 / __| |/ _` | '__/ _` | __/ __|/ _ \ / __/ _ \| '_ ` _ \ 
| (__| | (_| | | | (_| | |_\__ \  __/| (_| (_) | | | | | |
 \___|_|\__,_|_|  \__,_|\__|___/\___(_)___\___/|_| |_| |_| -->
  
<head>
  <title>{{ site.name }} - {{ page.title }}</title>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="{{ site.baseurl }}/style.css" /> <!-- Main stylesheet -->
  <link rel="alternate" type="application/rss+xml" href="/rss.xml" /> <!-- Main RSS feed -->
  <link rel="shortcut icon" type="image/x-icon" href="{{ site.assets }}/favicon.ico" />
  <link rel="apple-touch-icon" type="image/png" href="{{ site.assets}}/ct.png" /> <!-- Icon for iOS -->
  <link rel="apple-touch-icon-precomposed" type="image/png" href="{{ site.assets}}/ct.png" /> <!-- Icon for iOS -->
  <link rel="canonical" href="{{ site.url }}{{ page.url }}" /> <!-- Link to this page, for search engines -->
  <link rel="profile" href="http://gmpg.org/xfn/11" /> <!-- XHTML Friends Network link -->
  <!-- <meta name="viewport" content="width=device-width" /> For mobile browsers -->
  <meta name="viewport" content="width=640" />
  <meta name="alexaVerifyID" content="uI_MhQwZAVGbiadr0-t2eYJxSQM" />
  <meta name="keywords" content="{{ site.keywords }}" />
  
  <!--[if lt IE 9]><script src="/assets/ie-sucks.js"></script><![endif]-->
  <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" /><![endif]-->

  <meta property="creator" content="{{ site.author.name }}" />
  <meta property="date" content="(scheme=ISO8601){% if page.date %}{{ page.date | date_to_xmlschema }}{% else %}{{ site.time | date_to_xmlschema }}{% endif %}" />
  <meta property="description" content="{{ site.description }}" />
  <meta property="identifier" content="{{ site.url }}{{ page.url }}" />
  <meta property="title" content="{{ site.name }} - {{ page.title }}" />
</head>

<body role="document">

  <header>
    <h1>Clara Tse</h1>
  </header>
  
  <section role="main">
    {{ content }}
  </section>

  <footer>
    <p><a href="{{ site.baseurl }}/about" title="About Clara Tse">ABT</a> &middot; <a href="{{ site.baseurl }}/experience" title="Work Experience of Clara Tse">EXP</a> &middot; &copy; <a href="{{ site.author.url }}">{{ site.author.name }}</a> 2013. <a href="http://jekyllrb.com/" title="Static websites and blogs">Jekyll</a> generated, <a href="http://pages.github.com/" title="Collaboration, code review, and code management tool">Github</a> hosted &middot; <a href="http://subtlepatterns.com" title="Background from http://subtlepatterns.com">BKGD</a></p>
  </footer>

</body>
</html>